<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linktai.dao.MailInfoMapper">
	<resultMap id="BaseResultMap" type="com.linktai.pojo.MailInfo">
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="subject" jdbcType="VARCHAR" property="subject" />
		<result column="content" jdbcType="VARCHAR" property="content" />
	</resultMap>
	<insert id="insert" parameterType="com.linktai.pojo.MailInfo">
		insert into mail (name, subject, content
		)
		values (#{name,jdbcType=VARCHAR}, #{subject,jdbcType=VARCHAR},
		#{content,jdbcType=VARCHAR}
		)
	</insert>
	<select id="selectMail" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		SELECT name,subject,content
		FROM meetup.mail WHERE name=#{_parameter};
	</select>
	
	<update id="updateMailContent" parameterType="com.linktai.pojo.MailInfo">
		UPDATE meetup.mail SET subject=#{subject},content=#{content} WHERE name=#{name};
	</update>
</mapper>