<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linktai.dao.WebContentMapper">
  <resultMap id="BaseResultMap" type="com.linktai.pojo.WebContent">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="content" jdbcType="VARCHAR" property="content" />
  </resultMap>
  <insert id="insert" parameterType="com.linktai.pojo.WebContent">
    insert into webContent (name, content
      )
    values (#{name,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}
      )
  </insert>
  
  
  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
  	SELECT id,name,content FROM webContent WHERE name=#{name}
  </select>
  
  <update id="updateWebContent" parameterType="com.linktai.pojo.WebContent">
  	UPDATE webContent SET content=#{content} WHERE name=#{name}
  </update>
  
</mapper>